<div class="portfolio__container" data-controller="scroll" data-action="scroll@window->scroll#onScroll">
  <%= render 'homepages/sides/left_aside', user: @user %>
  <div class="section__container">
    <div class="hero__container container" data-controller="name" data-scroll-target="home" id='home'>
      <%= render 'homepages/sections/hero', locals: { github: @github, cv: @cv } %>
    </div>
    <div class="container" data-scroll-target="projects" id='projects'>
      <%= render 'homepages/sections/projects' %>
    </div>
    <div class="container" data-scroll-target="about-me" id='about-me'>
      <%= render 'homepages/sections/about-me' %>
    </div>
    <div class="container" data-scroll-target="contact-me" id='contact-me'>
      <%= render 'homepages/sections/contact-me' %>
    </div>
  </div>
  <aside>
    <%= render 'homepages/sides/right_aside', user: @user %>
  </aside>
</div>