  <div class="d-none" data-name-target="name" ><%= name_list(@github['name']) %></div>
  <section>
    <div>
      <h2 class="hero__name">Hello, My name is
        <span class="name" data-name-target="replace">Jhon Doe</span>
      </h2>
      <p>
        <%= @github['bio'] %>
      </p>
      <%= link_to 'Know me !!', @cv, target: '_blank', class: cta %>
    </div>
  </section>
  <%= link_to root_path, class: 'image__container', data: {
    action: 'click->scroll#scrollToSection',
    scroll_target: 'navlinks',
    target: 'about-me'
  } do %>
    <div class="box"></div>
    <%= image_tag @github['avatar_url'], class: 'hero__image' %>
  <% end %>