<div class="information__container">
  <div class="d-none" data-name-target="name" ><%= name_list(user['name']) %></div>
  <div class="information__title">
    <h2 class="hero__name">Hello, My name is</h2>
    <h1><%= user['name'] %></h1>
  </div>
  <section>
    <p>
        <%= user['bio'] %>
    </p>
    <%= link_to ENV['GOOGLE_CV'], target: '_blank', class: 'image__container', data: {
    } do %>
      <%= image_tag user['avatarUrl'], class: 'hero__image' %>
      <div class="box"></div>
    <% end %>
  </section>
</div>

